@CHARSET "UTF-8";

.mceIframeContainer {
	padding: 1em;
}

pre.wysiwyg-syntaxhl:before {
    content: "Code";
    font-size: 300%;
    font-family: serif;
    color: #353535;
    position: relative;
    float: right;
}

pre.wysiwyg-syntaxhl {
    background-color: #000000;
    padding: 1em;
    color: #ffffff;
    margin: 0 5px;
    border-radius: 5px;
}

.defaultSkin span.mce_syntaxhl {
  background: url('tinymce/syntaxhl/img/highlight.gif') no-repeat left center;
}